.logo{
    object-fit: cover;
    width: 8rem;
    height: 4rem;
    
}
/* .navbar{
   background: #090909  ;
    height: 5rem;
    max-width: 75rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
} */
.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: rgb(163, 163, 159);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(163, 163, 159);

}
.desktopMenuImg{
    width: 3rem;
    height: 3rem;
    
}
.desktopMenubtn{
    background-color: white;
    color: black;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:rem;
    width: 5rem;
    height: 2.5rem;
}

